@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

@foreach (var item in Model.Items)
{
    <div class="col-md-4">
        <div class="card" style="width: 20rem;">
            <img src="@item.Path" class="card-img-top" alt="Game Image">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">@item.Price USD</p>
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-returnurl="@returnUrl" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>
}

<br>
<br>

<Pager current-page="@Model.CurrentPage"
       total-pages="@Model.TotalPages"
       category="@(Model.GameGenreNormalized)">
   </Pager>


