@page
@model WEB_153502_FEDORINCHIK.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-page="Create"><i class="fa-solid fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Game)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@item.Path" style="height: 150px;">
                </td>
                <td>
                    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a> 
                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i> Details</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<Pager current-page="@Model.CurrentPage"
       total-pages="@Model.TotalPages"
       admin="true"></Pager>
